<form>
  <p>Name : Piyapat Jarussangringrojana</p>
  <div *ngIf="show == false">
      <div>
        <p>Nickname : {{nickname}}</p>
        <p>Birthday : {{birthday}}</p>
        <p>Job Title : {{jobtitle}}</p>
      </div>
  </div>
  
  <button class="btn btn-primary" (click)=showProfile()>ข้อมูลเพิ่มเติม</button>
  <button class="btn btn-secondary" (click)=showTable() [routerLink]="['/order', 'winner']">ไปยังหน้า Oder</button>
  
  <div *ngIf="isShow == false">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</form>