<p>table works!</p>

<button type="button" class="btn btn-danger" (click)="switchColor('red')">Red</button>
<button type="button" class="btn btn-success" (click)="switchColor('green')">Green</button><br/><br/>
<table border="1" >
    <tr *ngFor="let arsenal of reviews"
    [ngClass]="{'set-color-red':options === 'red' , 'set-color-green':options === 'green'}">
        <td>{{ arsenal.id }}</td>
        <td>{{ arsenal.name }}</td>
        <td>{{ arsenal.national }}</td>
        <td>{{ arsenal.position }}</td>
        <td>{{ arsenal.number }}</td>
        <td>{{ arsenal.price }}</td>
    </tr>
</table>