form {
    font-size: 15px;
    margin-top: 15px;
    margin-left: 15px;
}
table {
    width:40%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
.set-color-red {
    color: red;
}
.set-color-green {
    color: #33CC00;
}